{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Профиль</title>
{% endblock%}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %} ">
{% endblock%}

{% block content %}
<main class="wrapper">
  <form action="{% url 'users:profile' %}" method="POST" class="profile-card" enctype="multipart/form-data">
    {% csrf_token %}

    {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar-preview">
    {% else %}
      <img src="{% static 'icons/user_icon.png' %}" alt="Аватар" class="avatar-preview">
    {% endif %}

    <label for="{{ form.avatar.id_for_label }}" class="avatar-label">
      Загрузить новый аватар
    </label>
    {{ form.avatar }}

    <h1>Профиль</h1>
    <p>Добро пожаловать, {{ user.username }}!</p>
    <a class="btn-primary" href="{% url 'users:logout' %}">Выйти</a>
  </form>
</main>

{% endblock %}